<div class="container">
  <h1><%= @task.title %></h1>
  <h3><%= @task.details %></h3>
  <p class="link"><%= link_to "Edit this task", edit_task_path %></p>
  <p class="link"><%= link_to "View all tasks", tasks_path %></p>
</div>
